<!-- ==================================================  -->
<!-- ===================== Side menu ==================  -->
<!-- ==================================================  -->
<div
    class="flex xl:flex-col bg-[#ffffff] justify-between items-baseline w-full lg:max-w-[306px] lg:min-w-[102px] h-auto lg:h-screen shadow-3xl flex sticky top-0 py-6 lg:py-0 z-50">
    <div>
      <div class="flex flex-col">
        <div class="px-[28px] flex flex-row items-center py-0 lg:py-10">
          <button (click)="sideBarToggle()" class="hidden lg:block">
            <img src="assets/DashboardIcon.png" class="h-fit mx-2" alt="">
          </button>
          <button (click)="overlayToggle()" class="block lg:hidden">
            <img src="assets/DashboardIcon.png" class="h-fit mx-2" alt="">
          </button>
          <h1 class="font-serif font-bold flex items-center hidden lg:block" *ngIf="sideBarStatus">
            Dashboard
            <span class="px-1 text-sm font-thin">v0.0.1</span>
          </h1>
        </div>
        <div class="hidden lg:flex items-center cursor-pointer rounded-lg bg-[#5932EA] p-2 mx-[28px]">
          <div>
            <img src="assets/dashboard.svg" class="w-[24px] color-[#ffffff] self-center" alt="">
          </div>
          <div>
            <span class="text-[#ffffff] ms-[14px]" *ngIf="sideBarStatus">Dashboard</span>
          </div>
        </div>
        <!-- Buttons -->
        <div class="mt-[29px] mx-[38px] lg:flex lg:flex-col hidden">
          <!-- Button -->
          <div class="flex flex-row justify-between items-center mb-[40px]">
            <div class="flex flex-row">
              <img src="assets/product.svg" class="me-2" alt="">
              <span *ngIf="sideBarStatus" class="text-[#9197B3]">Product</span>
            </div>
            <div>
              <img src="assets/Vector.svg" alt="" *ngIf="sideBarStatus">
            </div>
          </div>
          <!-- Button -->
          <div class="flex flex-row justify-between items-center mb-[40px]">
            <div class="flex flex-row">
              <img src="assets/customer.svg" class="me-2" alt="">
              <span *ngIf="sideBarStatus" class="text-[#9197B3]">Customer</span>
            </div>
            <div>
              <img src="assets/Vector.svg" alt="" *ngIf="sideBarStatus">
            </div>
          </div>
          <div class="flex flex-row justify-between items-center mb-[40px]">
            <div class="flex flex-row">
              <img src="assets/income.svg" class="me-2" alt="">
              <span *ngIf="sideBarStatus" class="text-[#9197B3]">Income</span>
            </div>
            <div>
              <img src="assets/Vector.svg" alt="" *ngIf="sideBarStatus">
            </div>
          </div>
          <div class="flex flex-row justify-between items-center mb-[40px]">
            <div class="flex flex-row">
              <img src="assets/promotion.svg" class="me-2" alt="">
              <span *ngIf="sideBarStatus" class="text-[#9197B3]">Promotion</span>
            </div>
            <div>
              <img src="assets/Vector.svg" alt="" *ngIf="sideBarStatus">
            </div>
          </div>
          <div class="flex flex-row justify-between items-center mb-[40px]">
            <div class="flex flex-row">
              <img src="assets/help.svg" class="me-2" alt="">
              <span *ngIf="sideBarStatus" class="text-[#9197B3]">Help</span>
            </div>
            <div>
              <img src="assets/Vector.svg" alt="" *ngIf="sideBarStatus">
            </div>
          </div>
          <!-- Buttons -->
        </div>
      </div>
    </div>
    <!-- Bottom half -->
    <div class="lg:mb-[78px]">
      <div
        class="rounded-3xl bg-gradient-to-r from-[#EAABF0] to-[#4623E9] px-[33px] py-[24px] mx-[28px] justify-center lg:flex flex-col hidden"
        *ngIf="sideBarStatus">
        <span class="text-md text-[#ffffff] font-semibold">Upgrade to PRO to get access all Features!</span>
        <button class="text-[#4925E9] bg-[#ffffff] rounded-full text-lg font-semibold mt-4">Get Pro Now!</button>
      </div>
      <div class="flex flex-row justify-between mx-[28px] mt-4 lg:mt-[48px] items-baseline">
        <div class="flex flex-row items-center">
          <img src="assets/profile.png" class="rounded-full me-[12px] h-fit" alt="">
          <div class="flex flex-col" *ngIf="sideBarStatus">
            <span>Evano</span>
            <span class="lg:block hidden">Project Manager</span>
          </div>
        </div>
        <div class="self-center">
          <img src="assets/chevron-down2.svg" alt="" *ngIf="sideBarStatus">
        </div>
      </div>
    </div>
    <!-- Bottom half -->
  </div>
<!-- ==================================================  -->
<!-- ===================== Side menu ==================  -->
<!-- ==================================================  -->

<!-- ==================================================  -->
<!-- ===================== Overlay ====================  -->
<!-- ==================================================  -->
<div class="fixed top-0 w-screen h-screen bg-[#000000] opacity-75 z-50 flex flex-col items-center justify-center" *ngIf="overLayStatus">
  <button (click)="overlayToggle()" class="text-[#9197B3]">
    close
  </button>
  <div class="flex flex-row">
    <img src="assets/product.svg" class="me-2" alt="">
    <span *ngIf="sideBarStatus" class="text-[#9197B3]">Product</span>
  </div>
  <div class="flex flex-row">
    <img src="assets/customer.svg" class="me-2" alt="">
    <span *ngIf="sideBarStatus" class="text-[#9197B3]">Customer</span>
  </div>
  <div class="flex flex-row">
    <img src="assets/income.svg" class="me-2" alt="">
    <span *ngIf="sideBarStatus" class="text-[#9197B3]">Income</span>
  </div>
  <div class="flex flex-row">
    <img src="assets/promotion.svg" class="me-2" alt="">
    <span *ngIf="sideBarStatus" class="text-[#9197B3]">Promotion</span>
  </div>
  <div class="flex flex-row">
    <img src="assets/help.svg" class="me-2" alt="">
    <span *ngIf="sideBarStatus" class="text-[#9197B3]">Help</span>
  </div>
</div>