<div class="flex flex-row w-screen">
  <!-- ==================================================  -->
  <!-- ===================== Side menu ==================  -->
  <!-- ==================================================  -->
  <div class="flex flex-col bg-[#ffffff] justify-between w-[306px] h-screen shadow-3xl flex">
    <div class="">
      <div class="flex flex-col">
        <div class="px-[28px]">
          <h1 class="font-serif font-bold py-10 flex items-center">
            <img src="assets/DashboardIcon.png" class="w-[25px] mx-2" alt="">
            Dashboard
            <span class="px-1 text-sm font-thin">v0.0.1</span>
          </h1>
        </div>
        <div class="flex items-center cursor-pointer rounded-lg bg-[#5932EA] p-2 mx-[28px]">
          <div>
            <img src="assets/dashboard.svg" class="w-[24px] color-[#ffffff] self-center" alt="">
          </div>
          <div>
            <span class="text-[#ffffff] ms-[14px]">Dashboard</span>
          </div>
        </div>
        <!-- Buttons -->
        <div class="mt-[29px] mx-[38px] flex flex-col">
          <!-- Button -->
          <div class="flex flex-row justify-between items-center mb-[40px]">
            <div class="flex flex-row">
              <img src="assets/product.svg" class="me-2" alt="">
              <span>Product</span>
            </div>
            <div>
              <img src="assets/Vector.svg" alt="">
            </div>
          </div>
          <!-- Button -->
          <div class="flex flex-row justify-between items-center mb-[40px]">
            <div class="flex flex-row">
              <img src="assets/customer.svg" class="me-2" alt="">
              <span>Customer</span>
            </div>
            <div>
              <img src="assets/Vector.svg" alt="">
            </div>
          </div>
          <div class="flex flex-row justify-between items-center mb-[40px]">
            <div class="flex flex-row">
              <img src="assets/income.svg" class="me-2" alt="">
              <span>Income</span>
            </div>
            <div>
              <img src="assets/Vector.svg" alt="">
            </div>
          </div>
          <div class="flex flex-row justify-between items-center mb-[40px]">
            <div class="flex flex-row">
              <img src="assets/promotion.svg" class="me-2" alt="">
              <span>Promotion</span>
            </div>
            <div>
              <img src="assets/Vector.svg" alt="">
            </div>
          </div>
          <div class="flex flex-row justify-between items-center mb-[40px]">
            <div class="flex flex-row">
              <img src="assets/help.svg" class="me-2" alt="">
              <span>Help</span>
            </div>
            <div>
              <img src="assets/Vector.svg" alt="">
            </div>
          </div>
          <!-- Buttons -->
        </div>
      </div>
    </div>
    <!-- Bottom half -->
    <div class="mb-[78px]">
      <div class="rounded-3xl bg-gradient-to-r from-[#EAABF0] to-[#4623E9] px-[33px] py-[24px] mx-[28px] justify-center flex flex-col">
        <span class="text-md text-[#ffffff] font-semibold">Upgrade to PRO to get access all Features!</span>
        <button class="text-[#4925E9] bg-[#ffffff] rounded-full text-lg font-semibold mt-4">Get Pro Now!</button>
      </div>
      <div class="flex flex-row justify-between mx-[28px] mt-[48px] items-center">
        <div class="flex flex-row">
          <img src="assets/profile.png" class="rounded-full me-[12px]" alt="">
          <div class="flex flex-col">
            <span>Evano</span>
            <span>Project Manager</span>
          </div>
        </div>
        <div>
          <img src="assets/chevron-down2.svg" alt="">
        </div>
      </div>
    </div>
    <!-- Bottom half -->
  </div>
  <!-- ==================================================  -->
  <!-- ===================== Side menu ==================  -->
  <!-- ==================================================  -->
  <!-- ==================================================  -->
  <!-- ===================== Dashboard ==================  -->
  <!-- ==================================================  -->
  <div class="bg-[#F3F6FC] pt-[41px] px-[71px] flex-auto">
    <!-- First Row -->
    <div class="flex flex-row justify-between">
      <div>
        <span>Hello Evano</span>
      </div>
      <div class="rounded-lg flex flex-row bg-[#ffffff]">
        <img src="assets/search.svg" alt="">
        <input type="text" placeholder="Search">
      </div>
    </div>
    <!-- First Row -->
     <!-- Second Row -->
    <div class="flex justify-around bg-[#ffffff] rounded-3xl mt-10 p-[32px]">
      <!-- Earning -->
      <div class="flex flex-row">
        <div class="rounded-full h-fit self-center p-[22px] bg-[#EAFFF3] me-[20px]">
          <img src="assets/earning.svg" class="w-[84px]" alt="">
        </div>
        <div class="flex-col self-center">
          <p class="text-[#ACACAC]">Earning</p>
          <span class="font-semibold text-2xl">$198k</span>
          <div class="flex flex-row">
          <img src="assets/chevron-down2.svg" class="rotate-180" alt="">
          <span class="text-[#00AC4F] font-semibold">37.8%</span>
          <span class="mx-1">this month</span>
          </div>
        </div>
      </div>
      <!-- Earning -->
      <!-- Balance -->
      <div class="flex flex-row">
        <div class="rounded-full h-fit self-center p-[22px] bg-[#CAF1FF] me-[20px]">
          <img src="assets/balance.svg" class="w-[84px]" alt="">
        </div>
        <div class="flex-col self-center">
          <p class="text-[#ACACAC]">Balance</p>
          <span class="font-semibold text-2xl">$2.4k</span>
          <div class="flex flex-row">
          <img src="assets/chevron-down2.svg" alt="">
          <span class="text-[#D0004B] font-semibold">2%</span>
          <span class="mx-1">this month</span>
          </div>
        </div>
      </div>
      <!-- Balance -->
      <!-- Total Sales -->
      <div class="flex flex-row">
        <div class="rounded-full h-fit self-center p-[22px] bg-gradient-to-r from-[#FFA3CF] to-[#FFD4F3] me-[20px]">
          <img src="assets/totalSales.svg" class="w-[84px]" alt="">
        </div>
        <div class="flex-col self-center">
          <p class="text-[#ACACAC]">Total Sales</p>
          <span class="font-semibold text-2xl">$89k</span>
          <div class="flex flex-row">
          <img src="assets/chevron-down2.svg" alt="">
          <span class="text-[#00AC4F] font-semibold">11%</span>
          <span class="mx-1">this month</span>
          </div>
        </div>
      </div>
      <!-- Total Sales -->
    </div>
    <!-- Second Row -->
  </div>
  <!-- ==================================================  -->
  <!-- ===================== Dashboard ==================  -->
  <!-- ==================================================  -->
</div>