<div class="container flex flex-row">
  <!-- ==================================================  -->
  <!-- ===================== Side menu ==================  -->
  <!-- ==================================================  -->
  <div class="flex flex-col bg-[#ffffff] justify-between w-[306px] h-screen">
    <div class="">
      <div class="flex flex-col">
        <div class="px-[28px]">
          <h1 class="font-serif font-bold py-10 flex items-center">
            <img src="assets/DashboardIcon.png" class="w-[25px] mx-2" alt="">
            Dashboard
            <span class="px-1 text-sm font-thin">v0.0.1</span>
          </h1>
        </div>
        <div class="flex items-center cursor-pointer rounded-lg bg-[#5932EA] p-2 mx-[28px]">
          <div>
            <img src="assets/dashboard.svg" class="w-[24px] color-[#ffffff] self-center" alt="">
          </div>
          <div>
            <span class="text-[#ffffff] ms-[14px]">Dashboard</span>
          </div>
        </div>
        <!-- Buttons -->
        <div class="mt-[29px] mx-[38px] flex flex-col">
          <!-- Button -->
          <div class="flex flex-row justify-between items-center mb-[40px]">
            <div class="flex flex-row">
              <img src="assets/product.svg" class="me-2" alt="">
              <span>Product</span>
            </div>
            <div>
              <img src="assets/Vector.svg" alt="">
            </div>
          </div>
          <!-- Button -->
          <div class="flex flex-row justify-between items-center mb-[40px]">
            <div class="flex flex-row">
              <img src="assets/customer.svg" class="me-2" alt="">
              <span>Customer</span>
            </div>
            <div>
              <img src="assets/Vector.svg" alt="">
            </div>
          </div>
          <div class="flex flex-row justify-between items-center mb-[40px]">
            <div class="flex flex-row">
              <img src="assets/income.svg" class="me-2" alt="">
              <span>Income</span>
            </div>
            <div>
              <img src="assets/Vector.svg" alt="">
            </div>
          </div>
          <div class="flex flex-row justify-between items-center mb-[40px]">
            <div class="flex flex-row">
              <img src="assets/promotion.svg" class="me-2" alt="">
              <span>Promotion</span>
            </div>
            <div>
              <img src="assets/Vector.svg" alt="">
            </div>
          </div>
          <div class="flex flex-row justify-between items-center mb-[40px]">
            <div class="flex flex-row">
              <img src="assets/help.svg" class="me-2" alt="">
              <span>Help</span>
            </div>
            <div>
              <img src="assets/Vector.svg" alt="">
            </div>
          </div>
          <!-- Buttons -->
        </div>
      </div>
    </div>
    <!-- Bottom half -->
    <div class="mb-[78px]">
      <div class="rounded-3xl bg-gradient-to-r from-[#EAABF0] to-[#4623E9] px-[33px] py-[24px] mx-[28px] justify-center flex flex-col">
        <span class="text-md text-[#ffffff] font-semibold">Upgrade to PRO to get access all Features!</span>
        <button class="text-[#4925E9] bg-[#ffffff] rounded-full text-lg font-semibold mt-4">Get Pro Now!</button>
      </div>
      <div class="flex flex-row justify-between mx-[28px] mt-[48px] items-center">
        <div class="flex flex-row">
          <img src="assets/profile.png" class="rounded-full me-[12px]" alt="">
          <div class="flex flex-col">
            <span>Evano</span>
            <span>Project Manager</span>
          </div>
        </div>
        <div>
          <img src="assets/chevron-down2.svg" alt="">
        </div>
      </div>
    </div>
    <!-- Bottom half -->
  </div>
  <!-- ==================================================  -->
  <!-- ===================== Side menu ==================  -->
  <!-- ==================================================  -->
  <div>

  </div>
</div>