@media (max-width: 548px) {
    th {
        display: none;
    }

    td {
        display: block;
    }

    tr {
        border-bottom: 2px solid rgb(68, 68, 68);
    }

    tr:last-child {
        border: none
    }

    tr:nth-child(even) {
        background-color: #F3F6FC;
    }

    .require-header::before {
        font-weight: 700;
        text-transform: capitalize;
        content: attr(data-cell) ": ";
    }
}