<div class="flex flex-col xl:flex-row w-full poppins font-semibold subpixel-antialiased">
  <!-- ==================================================  -->
  <!-- ===================== Side menu ==================  -->
  <!-- ==================================================  -->
  <div
    class="flex xl:flex-col bg-[#ffffff] justify-between items-baseline w-full lg:max-w-[306px] lg:min-w-[102px] h-auto lg:h-screen shadow-3xl flex sticky top-0 py-6 lg:py-0 z-50">
    <div>
      <div class="flex flex-col">
        <div class="px-[28px] flex flex-row items-center py-0 lg:py-10">
          <button (click)="sideBarToggle()" class="hidden lg:block">
            <img src="assets/DashboardIcon.png" class="h-fit mx-2" alt="">
          </button>
          <button (click)="sideBarToggle()" class="block lg:hidden">
            <img src="assets/DashboardIcon.png" class="h-fit mx-2" alt="">
          </button>
          <h1 class="font-serif font-bold flex items-center hidden lg:block" *ngIf="sideBarStatus">
            Dashboard
            <span class="px-1 text-sm font-thin">v0.0.1</span>
          </h1>
        </div>
        <div class="hidden lg:flex items-center cursor-pointer rounded-lg bg-[#5932EA] p-2 mx-[28px]">
          <div>
            <img src="assets/dashboard.svg" class="w-[24px] color-[#ffffff] self-center" alt="">
          </div>
          <div>
            <span class="text-[#ffffff] ms-[14px]" *ngIf="sideBarStatus">Dashboard</span>
          </div>
        </div>
        <!-- Buttons -->
        <div class="mt-[29px] mx-[38px] lg:flex lg:flex-col hidden">
          <!-- Button -->
          <div class="flex flex-row justify-between items-center mb-[40px]">
            <div class="flex flex-row">
              <img src="assets/product.svg" class="me-2" alt="">
              <span *ngIf="sideBarStatus" class="text-[#9197B3]">Product</span>
            </div>
            <div>
              <img src="assets/Vector.svg" alt="" *ngIf="sideBarStatus">
            </div>
          </div>
          <!-- Button -->
          <div class="flex flex-row justify-between items-center mb-[40px]">
            <div class="flex flex-row">
              <img src="assets/customer.svg" class="me-2" alt="">
              <span *ngIf="sideBarStatus" class="text-[#9197B3]">Customer</span>
            </div>
            <div>
              <img src="assets/Vector.svg" alt="" *ngIf="sideBarStatus">
            </div>
          </div>
          <div class="flex flex-row justify-between items-center mb-[40px]">
            <div class="flex flex-row">
              <img src="assets/income.svg" class="me-2" alt="">
              <span *ngIf="sideBarStatus" class="text-[#9197B3]">Income</span>
            </div>
            <div>
              <img src="assets/Vector.svg" alt="" *ngIf="sideBarStatus">
            </div>
          </div>
          <div class="flex flex-row justify-between items-center mb-[40px]">
            <div class="flex flex-row">
              <img src="assets/promotion.svg" class="me-2" alt="">
              <span *ngIf="sideBarStatus" class="text-[#9197B3]">Promotion</span>
            </div>
            <div>
              <img src="assets/Vector.svg" alt="" *ngIf="sideBarStatus">
            </div>
          </div>
          <div class="flex flex-row justify-between items-center mb-[40px]">
            <div class="flex flex-row">
              <img src="assets/help.svg" class="me-2" alt="">
              <span *ngIf="sideBarStatus" class="text-[#9197B3]">Help</span>
            </div>
            <div>
              <img src="assets/Vector.svg" alt="" *ngIf="sideBarStatus">
            </div>
          </div>
          <!-- Buttons -->
        </div>
      </div>
    </div>
    <!-- Bottom half -->
    <div class="lg:mb-[78px]">
      <div
        class="rounded-3xl bg-gradient-to-r from-[#EAABF0] to-[#4623E9] px-[33px] py-[24px] mx-[28px] justify-center lg:flex flex-col hidden"
        *ngIf="sideBarStatus">
        <span class="text-md text-[#ffffff] font-semibold">Upgrade to PRO to get access all Features!</span>
        <button class="text-[#4925E9] bg-[#ffffff] rounded-full text-lg font-semibold mt-4">Get Pro Now!</button>
      </div>
      <div class="flex flex-row justify-between mx-[28px] mt-4 lg:mt-[48px] items-baseline">
        <div class="flex flex-row items-center">
          <img src="assets/profile.png" class="rounded-full me-[12px] h-fit" alt="">
          <div class="flex flex-col" *ngIf="sideBarStatus">
            <span>Evano</span>
            <span class="lg:block hidden">Project Manager</span>
          </div>
        </div>
        <div class="self-center">
          <img src="assets/chevron-down2.svg" alt="" *ngIf="sideBarStatus">
        </div>
      </div>
    </div>
    <!-- Bottom half -->
  </div>
  <!-- ==================================================  -->
  <!-- ===================== Side menu ==================  -->
  <!-- ==================================================  -->
  <!-- ==================================================  -->
  <!-- ===================== Dashboard ==================  -->
  <!-- ==================================================  -->
  <div class="bg-[#F3F6FC] pt-[41px] px-[20px] lg:px-[71px] flex-auto w-full">
    <!-- First Row -->
    <div class="flex flex-row justify-between w-full items-center">
      <div>
        <span>Hello Evano</span>
      </div>
      <div class="rounded-lg flex flex-row bg-[#ffffff] p-2 focus-within:border focus-within:border-black">
        <img src="assets/search.svg" alt="">
        <input type="text" placeholder="Search" class="outline-none bg-transparent">
      </div>
    </div>
    <!-- First Row -->
    <!-- Second Row -->
    <div
      class="flex justify-around w-full bg-[#ffffff] rounded-3xl mt-10 p-[32px] items-center overflow-x-auto custom-scroll flex-nowrap">
      <!-- Earning -->
      <div class="flex flex-row px-5 border-r-2">
        <div class="rounded-full h-fit self-center p-[22px] bg-[#EAFFF3] me-[20px]">
          <img src="assets/earning.svg" class="lg:w-[84px]" alt="">
        </div>
        <div class="flex flex-col self-center justify-start items-start">
          <p class="text-[#ACACAC] font-normal">Earning</p>
          <span class="font-semibold text-2xl">$198k</span>
          <div class="flex lg:flex-row">
            <img src="assets/chevron-down2.svg" class="rotate-180" alt="">
            <span class="text-[#00AC4F] font-semibold">37.8%</span>
            <span class="mx-1 whitespace-nowrap pe-2">this month</span>
          </div>
        </div>
      </div>
      <!-- Earning -->
      <!-- Balance -->
      <div class="flex flex-row px-5 border-r-2">
        <div class="rounded-full h-fit self-center p-[22px] bg-[#CAF1FF] me-[20px]">
          <img src="assets/balance.svg" class="w-[84px]" alt="">
        </div>
        <div class="flex-col self-center">
          <p class="text-[#ACACAC] font-normal">Balance</p>
          <span class="font-semibold text-2xl">$2.4k</span>
          <div class="flex flex-row">
            <img src="assets/chevron-down2.svg" alt="">
            <span class="text-[#D0004B] font-semibold">2%</span>
            <span class="mx-1 whitespace-nowrap pe-2">this month</span>
          </div>
        </div>
      </div>
      <!-- Balance -->
      <!-- Total Sales -->
      <div class="flex flex-row px-5">
        <div class="rounded-full h-fit self-center p-[22px] bg-gradient-to-r from-[#FFA3CF] to-[#FFD4F3] me-[20px]">
          <img src="assets/totalSales.svg" class="w-[84px]" alt="">
        </div>
        <div class="flex-col self-center">
          <p class="text-[#ACACAC] font-normal">Total Sales</p>
          <span class="font-semibold text-2xl">$89k</span>
          <div class="flex flex-row">
            <img src="assets/chevron-down2.svg" class="rotate-180" alt="">
            <span class="text-[#00AC4F] font-semibold">11%</span>
            <span class="mx-1 whitespace-nowrap pe-2">this month</span>
          </div>
        </div>
      </div>
      <!-- Total Sales -->
    </div>
    <!-- Second Row -->
    <!-- Third Row -->
    <div class="flex flex-col lg:flex-row lg:justify-between mt-[28px] w-full">
      <!-- First Box -->
      <div class="rounded-2xl bg-[#ffffff] flex flex-col flex-grow p-[30px] me-[36px] w-full">
        <div class="flex flex-row justify-between">
          <div>
            <h4 class="font-semibold">Overview</h4>
          </div>
          <div>
            <select name="overview-selection" id="overview-selection">
              <option value="quarterly">Quarterly</option>
              <option value="monthly">Monthly</option>
              <option value="weekly">Weekly</option>
              <option value="yearly">Yearly</option>
            </select>
          </div>
        </div>
        <span class="text-[#ACACAC]">Monthly earning</span>
        <!-- Dynamic Bar Chart -->
        <div class="lg:flex flex-row justify-between items-end h-[300px] hidden">
          <div *ngFor="let statistic of statistics" class="flex flex-col relative group">
            <span
              class="absolute rounded-lg self-center invisible group-hover:visible top-[-40px] bg-[#000000] text-[#ffffff] p-0.5">{{
              statistic.percentage }}%</span>
            <div style="width: 40px" [ngStyle]="{'height.px': statistic.percentage * 3}"
              class="bg-[#F2EFFF] group-hover:bg-[#5932EA] rounded-lg"></div>
            <span>{{ statistic.month }}</span>
          </div>
        </div>
        <!-- Smaller version -->
        <div class="flex flex-col h-auto lg:hidden items-start">
          <div *ngFor="let statistic of statistics" class="flex flex-row relative group mb-3 justify-between">
            <div class="w-10">
              <span>{{ statistic.month }}</span>
            </div>
            <div style="width: 40px" [ngStyle]="{'width.px': statistic.percentage * 3}"
              class="bg-[#F2EFFF] group-hover:bg-[#5932EA] rounded-lg">
            </div>
            <span
              class="rounded-lg self-center p-1">{{
              statistic.percentage }}%
            </span>
          </div>
        </div>
        <!-- Dynamic Bar Chart -->
      </div>
      <!-- Second Box -->
      <div class="rounded-2xl mt-5 lg:mt-0 p-[24px] lg:w-[304px] flex flex-col bg-[#ffffff] lg:items-stretch items-center">
        <h4>Customers</h4>
        <span class="text-[#ACACAC]">Customers that buy products</span>
        <!-- chart.js generated pie chart -->
        <div id="bar-chart" class="relative mt-10 w-[200px] lg:w-auto">
          <div class="absolute top-1/3 left-1/3 text-center font-thin lg:font-semibold">
            <span class="block font-semibold">{{ pieChartDataSet.datasets[0].data[0] }}%</span>
            <span class="block">Total New</span>
            <span class="block">Customers</span>
          </div>
          <p-chart type="doughnut" [data]="pieChartDataSet" [options]="pieChartOptions" />
        </div>
      </div>
    </div>
    <!-- Third Row -->
    <!-- Fourth Row -->
    <div class="rounded-2xl bg-[#ffffff] flex flex-col flex-grow p-[30px] mt-[28px]">
      <!-- First Row -->
      <div class="flex flex-col lg:flex-row justify-between mb-4">
        <div>
          <h4 class="font-semibold">Product Sell</h4>
        </div>
        <div class="flex flex-row justify-between">
          <div class="rounded-lg flex flex-row bg-[#F9FBFF] p-2 focus-within:border focus-within:border-black">
            <img src="assets/search.svg" alt="">
            <input type="text" placeholder="Search" class="outline-none bg-transparent xs:w-1/2">
          </div>
          <div class="mx-4">
            <select name="lastDays" id="last-days" class="h-full">
              <option value="30">30 Days</option>
              <option value="15">15 Days</option>
              <option value="7">7 Days</option>
              <option value="1">1 Day</option>
            </select>
          </div>
        </div>
      </div>
      <!-- First Row -->
      <div>
        <table class="w-full" [cellPadding]="30">
          <thead class="border-b-4 font-normal text-[#B5B7C0]">
            <tr>
              <th class="text-start">Product Name</th>
              <th>Stock</th>
              <th>Price</th>
              <th>Total Sales</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sale of sales">
              <td class="flex flex-row" data-cell="Product Name">
                <img src="assets/productImage.png" alt="" class="me-3 lg:block hidden">
                <div>
                  <p class="font-semibold">{{ sale.productName }}</p>
                  <p class="text-[#9197B3]">{{ sale.productDescription }}</p>
                </div>
              </td>
              <td class="lg:text-center require-header" data-cell="Stock">{{ sale.productStock }} in Stock</td>
              <td class="lg:text-center require-header" data-cell="Price">$ {{ sale.productPrice }}</td>
              <td class="lg:text-center require-header" data-cell="Total Sales">{{ sale.productTotalSales }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Fourth Row -->
  </div>
  <!-- ==================================================  -->
  <!-- ===================== Dashboard ==================  -->
  <!-- ==================================================  -->
</div>